<%- include('../partials/header.ejs') %>

<div style="padding: 12px;" class="container mt-4">
    <h1>Dergi Düzenle</h1>

    <form action="/admin/<%= dergi.dergi_id %>/duzenle" method="POST">

        <div class="mb-3">
            <label for="konu" class="form-label">Başlık:</label>
            <input type="text" id="baslik" name="baslik" class="form-control" value="<%= dergi.dergi_basligi %>" required>
        </div>

        <div class="mb-3">
            <label for="konu" class="form-label">Konu:</label>
            <input type="text" id="konu" name="konu" class="form-control" value="<%= dergi.konu %>" required>
        </div>
        <div class="mb-3">
            <label for="turu" class="form-label">Türü:</label>
            <input type="text" id="turu" name="turu" class="form-control" value="<%= dergi.dergi_turu %>" required>
        </div>
        <div class="form-group">
            <label for="kategori">Kategoriler</label>
            <select name="kategorisi" id="kategorisi" class="form-control admin-panel-input">
                <% kategoriler.forEach(kategori => {%>
                    <option value="<%= kategori.kategori_low%>"><%= kategori.kategori_ad%></option>
                <%});%>
            </select>
        </div>

        <div class="mb-3">
            <label for="aciklama" class="form-label">Açıklama:</label>
            <textarea id="aciklama" name="aciklama" class="form-control"><%= dergi.aciklama %></textarea>
        </div>

        <div class="mb-3">
            <label for="resim" class="form-label">Kapak Adı:</label>
            <input type="text" id="resim" name="resim" class="form-control" value="<%= dergi.resim %>" required>
        </div>

        <!-- Diğer bilgileri ekle -->

        <button type="submit" class="btn btn-primary">Dergiyi Düzenle</button>
    </form>
        <a class="btn btn-secondary mt-1" href="/admin/dergiyonetim">Geri</a>
    <div class="resim-goster mt-4">
        <img src="../uploads/<%= dergi.resim %>" alt="<%= dergi.resim %>" class="img-fluid">
    </div>
</div>

<%- include('../partials/footer.ejs') %>