<%- include('./partials/header.ejs') %>

<div class="custom-detailpage-container" style="background-color: #f5f5f5;">
    <div class="dergiId <%= dergi.dergi_id %> "></div>
    <div class="custom-detailpage-row">
        <div class="detail-image">
            <img src="../uploads/<%= dergi.resim %> " class=" img-fluid" alt="<%= dergi.baslik %>">
        </div>
        <div class="col-md-6">
            <div class="detail-info bg-light p-4 rounded">

                <h2><%= dergi.dergi_basligi %></h2>

                <h3 class="text-muted"><%= dergi.konu %></h3>

                
                
                <p class="description"><strong>Açıklama:</strong> <%= dergi.aciklama %></p>
                <p class="author-info"><strong>Yazar:</strong> <%= dergi.yazar %></p>
                
                <%  if(dergi.olusturan_user_id === 1) { %>
                    <p class="user-info"><strong>Ekleyen:</strong>Nazım Köğçe</p>
                    <% } else { %>
                <p class="user-info"><strong>Ekleyen:</strong> Belirtilmedi</p>
                <% } %>
                <p class="download-link">
                    <strong>İndirme Linki:</strong>
                    <form action="/dergiler/<%= dergi.dergi_id%>/indir" method="POST">
                        <input type="hidden" name="pdf_dosya" value="<%= dergi.pdf_dosya %>">
                        <button name="<%=dergi.pdf_dosya%>" class="btn btn-primary"><%=  dergi.pdf_dosya%></button>
                    </form>
                </p>
            </div>
            
        </div>
        
    </div>
    <div class="detail-page-pdf-review">
            <iframe src="/uploads/<%=  dergi.pdf_dosya%>" frameborder="0"></iframe>
    </div>

    <div class="detail-comment-area rounded p-4 mt-3">
        <div style="box-shadow: none; min-height: auto;" class="custom-row mt-4">
            <div class="col-md-6">
                <h3 class="mb-3">Yorum Ekle</h3>
                <form action="/dergiler/<%= dergi.dergi_id %>/yorumEkle" method="POST">
                    <div class="form-group">
                        <label for="yorumMetni">Yorumunuz:</label>
                        <textarea class="form-control custom-textarea" id="yorumMetni" name="yorumMetni" required maxlength="245"></textarea>
                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Yorum Ekle</button>
                </form>
            </div>
        </div>

        <div class="mt-4">
            <h3 class="mb-4">Yorumlar</h3>

            <% if (userS && userS.role === 'admin') { %>
                <div class="list-group border-0">
                    <% dergiYorumlari.forEach(yorum => { %>
                        <div class="list-group-item-admin">
                            <div name="yorumId" class="yorumId"></div>
                            <div  style="padding: 5px;" class=" d-flex justify-content-between align-items-center">
                                <h5 class="mb-1"><strong><%= yorum.User.first_name %>:</strong></h5>
                                <small class="text-muted">
                                    <%
                                    const rawDate = yorum.tarih; // Bu, veritabanından gelen tarih string'i olabilir
                                    let formattedDate;
                                  
                                    if (rawDate instanceof Date) {
                                      // Eğer rawDate bir tarih nesnesi ise, direkt olarak kullanabilirsiniz
                                      formattedDate = rawDate.toLocaleDateString('tr-TR');
                                    } else if (typeof rawDate === 'string') {
                                      // Eğer rawDate bir string ise, Date objesine çevirin
                                      const dateObject = new Date(rawDate);
                                      formattedDate = dateObject.toLocaleDateString('tr-TR');
                                    } else {
                                      // Eğer rawDate ne bir tarih nesnesi ne de bir string değilse
                                      formattedDate = 'Tarih bilgisi yok';
                                    }
                                  %>
                                </small>
                                <!-- Add the delete button here -->
                                    <button class="btn btn-sm btn-danger" onclick="confirmDelete('<%=  yorum.yorum_id%>')">Delete</button>
                            </div>
                            <p class="mb-1"><%= yorum.yorum_metni %></p>
                        </div>
                    <% }); %>
                </div>
                <script> 
                    function confirmDelete(yorumId) {
                        if (confirm('Emin misiniz?')) {
                            // Silme işlemi için POST isteği gönder
                            fetch('/dergiler/' + yorumId + '/yorumsil', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ yorumId: yorumId }),
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                // Başarılı bir şekilde silindiğinde sayfayı yenile veya başka bir işlem yapabilirsiniz.
                                window.location.reload();
                            })
                            .catch(error => {
                                console.error('Silme işlemi sırasında hata oluştu:', error);
                            });
                        }
                    }
                </script>
                
            <% } else { %>
                <div class="list-group border-0">
                    <% dergiYorumlari.forEach(yorum => { %>
                        <div class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-1"><strong><%= yorum.User.first_name %>:</strong></h5>
                                <small class="text-muted">
                                    <%
                                    const rawDate = yorum.tarih; // Bu, veritabanından gelen tarih string'i olabilir
                                    let formattedDate;
                                  
                                    if (rawDate) { // Eğer tarih değeri mevcutsa
                                        if (rawDate instanceof Date) {
                                            // Eğer rawDate bir tarih nesnesi ise, direkt olarak kullanabilirsiniz
                                            formattedDate = rawDate.toLocaleDateString('tr-TR');
                                        } else if (typeof rawDate === 'string') {
                                            // Eğer rawDate bir string ise, Date objesine çevirin
                                            const dateObject = new Date(rawDate);
                                            formattedDate = dateObject.toLocaleDateString('tr-TR');
                                        } else {
                                            // Eğer rawDate ne bir tarih nesnesi ne de bir string değilse
                                            formattedDate = 'Tarih bilgisi yok';
                                        }
                                    } else {
                                        formattedDate = 'Tarih bilgisi yok';
                                    }
                                    %>
                                </small>
                            </div>
                            <p class="mb-1"><%= yorum.yorum_metni %></p>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
