<%- include('./partials/header.ejs') %>

<div class="container mt-4">
    <div class="dergiId"><%= dergi.dergi_id %></div>
    <div class="row">
        <div class="col-md-6">
            <img src="<%= dergi.resim %>" class="img-fluid rounded" alt="<%= dergi.konu %>">
        </div>
        <div class="col-md-6">
            <div class="detail-info bg-light p-4 rounded">
                <h2><%= dergi.dergi_basligi %></h2>
                <h3 class="text-muted"><%= dergi.konu %></h3>
                <p class="author-info"><strong>Yazar:</strong> <%= dergi.yazar %></p>
                <p class="user-info"><strong>Ekleyen:</strong> <%= dergi.ekleyen_username %></p>
                <p class="description"><strong>Açıklama:</strong> <%= dergi.aciklama %></p>
                <p class="download-link">
                    <strong>İndirme Linki:</strong>
                    <a href="<%= dergi.indirme_linki %>" target="_blank" class="btn btn-primary">İndir</a>
                </p>
            </div>
        </div>
    </div>

    <div class="detail-comment-area rounded p-4 mt-3">
        <div class="row mt-4">
            <div class="col-md-6">
                <h3 class="mb-3">Yorum Ekle</h3>
                <form action="/dergiler/<%= dergi.dergi_id %>/yorumEkle" method="POST">
                    <div class="form-group">
                        <label for="yorumMetni">Yorumunuz:</label>
                        <textarea class="form-control custom-textarea" id="yorumMetni" name="yorumMetni" required></textarea>
                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Yorum Ekle</button>
                </form>
            </div>
        </div>

        <div class="mt-4">
            <h3 class="mb-4">Yorumlar</h3>

            <% if (userS && userS.role === 'admin') { %>
                <div class="list-group border-0">
                    <% dergiYorumlari.forEach(yorum => { %>
                        <div class="list-group-item-admin">
                            <div name="yorumId" class="yorumId"><%=  yorum.yorum_id%></div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-1"><strong><%= yorum.username %>:</strong></h5>
                                <small class="text-muted">
                                    <% if (yorum.created_at) { %>
                                        <%= yorum.created_at.toISOString().slice(0, 19).replace('T', ' ') %>
                                    <% } else { %>
                                        Tarih bilgisi yok
                                    <% } %>
                                </small>
                                <!-- Add the delete button here -->
                                    <button class="btn btn-sm btn-danger" onclick="confirmDelete('<%=  yorum.yorum_id%>')">Delete</button>
                            </div>
                            <p class="mb-1"><%= yorum.yorum_metni %></p>
                        </div>
                    <% }); %>
                </div>
                <script> 
                    function confirmDelete(yorumId) {
                        if (confirm('Emin misiniz?')) {
                            // Silme işlemi için POST isteği gönder
                            fetch('/dergiler/' + yorumId + '/yorumsil', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ yorumId: yorumId }),
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                // Başarılı bir şekilde silindiğinde sayfayı yenile veya başka bir işlem yapabilirsiniz.
                                window.location.reload();
                            })
                            .catch(error => {
                                console.error('Silme işlemi sırasında hata oluştu:', error);
                            });
                        }
                    }
                </script>
                
            <% } else { %>
                <div class="list-group border-0">
                    <% dergiYorumlari.forEach(yorum => { %>
                        <div class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-1"><strong><%= yorum.username %>:</strong></h5>
                                <small class="text-muted">
                                    <% if (yorum.created_at) { %>
                                        <%= yorum.created_at.toISOString().slice(0, 19).replace('T', ' ') %>
                                    <% } else { %>
                                        Tarih bilgisi yok
                                    <% } %>
                                </small>
                            </div>
                            <p class="mb-1"><%= yorum.yorum_metni %></p>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
