<%- include('./partials/header.ejs') %>

<div class="container mt-4">
    <!-- Dergi detayları -->
    <div class="row">
        <div class="col-md-6">
            <img src="<%= dergi.resim %>" class="img-fluid rounded" alt="<%= dergi.konu %>">
        </div>
        <div class="col-md-6">
            <div class="detail-info">
                <h2><%= dergi.dergi_basligi %></h2>
                <h3 class="text-muted"><%= dergi.konu %></h3>
                <p class="author-info"><strong>Yazar:</strong> <%= dergi.yazar %></p>
                <p class="user-info"><strong>Ekleyen:</strong> <%= dergi.ekleyen_username %></p>
                <p class="description"><strong>Açıklama:</strong> <%= dergi.aciklama %></p>
                <p class="download-link">
                    <strong>İndirme Linki:</strong>
                    <a href="<%= dergi.indirme_linki %>" target="_blank" class="custom-btn">İndir</a>
                </p>
            </div>
        </div>
    </div>

    <div class="detail-comment-area border rounded p-4 mt-3">
        <div class="row mt-4">
            <div class="col-md-6">
                <h3 class="mb-3">Yorum Ekle</h3>
                <form action="/dergiler/<%= dergi.dergi_id %>/yorumEkle" method="POST">
                    <div class="form-group">
                        <label for="yorumMetni">Yorumunuz:</label>
                        <textarea class="form-control custom-textarea" id="yorumMetni" name="yorumMetni" required></textarea>
                    </div>
                    <button type="submit" class="mt-2 custom-btn">Yorum Ekle</button>
                </form>
            </div>
        </div>

        <!-- Dergi yorumları -->
        <div class="mt-4">
            <h3 class="mb-4">Yorumlar</h3>
            <div class="custom-list">
                <% dergiYorumlari.forEach(yorum => { %>
                    <div class="custom-list-item">
                        <div class="custom-list-item-header">
                            <h5><strong><%= yorum.username %>:</strong></h5>
                            <small>
                                <% if (yorum.created_at) { %>
                                    <%= yorum.created_at.toISOString().slice(0, 19).replace('T', ' ') %>
                                <% } else { %>
                                    Tarih bilgisi yok
                                <% } %>
                            </small>
                        </div>
                        <p><%= yorum.yorum_metni %></p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>