<%- include('./partials/header.ejs') %>
<%- include('./partials/loader.ejs') %>

<ul class="kategori">
    <li><a href="#">Kategoriler</a>
        <ul class="filter-categorys">
            <li data-kategori="kultur" class="filter-li">Kültür Dergileri</li>
            <li data-kategori="edebiyat" class="filter-li">Edebiyat Dergileri</li>
            <li data-kategori="tarih" class="filter-li">Tarih Dergileri</li>
            <li data-kategori="bilim" class="filter-li">Bilim Dergileri</li>
            <li data-kategori="sanat" class="filter-li">Sanat Dergileri</li>
            <li data-kategori="saglik" class="filter-li">Sağlık Dergileri</li>
            <li data-kategori="sinema" class="filter-li">Sinema & TV Dergileri</li>
            <li data-kategori="hukuk" class="filter-li">Hukuk Dergileri</li>
        </ul>
    </li>
    </ul>
<div class="container">
    <!-- Kategori Filtreleme Butonu -->
    <div class="custom-row">
        <div class="custom-card-container">
        <% dergiler.forEach(dergi => { %>
            <a class="custom-card" href="/dergiler/<%= dergi.dergi_id %>">
                <div class="<%= dergi.kategorisi %>">
                    <img src="<%= dergi.resim %>" alt="<%= dergi.baslik %>">
                    <span class="<%= dergi.kategorisi %>"></span>
                    <div class="custom-card-content">
                        <h5 class="custom-card-title"><%= dergi.dergi_basligi %></h5>
                        <p class="custom-card-text"><%= dergi.aciklama.substring(0, 80) %>...</p>
                    </div>
                </div>
            </a>
                <% }); %>
            </div>
    </div>
</div>

<script>
    // Filtreleme fonksiyonu
    function filtrele(kategori) {
        // Tüm kartları gizle
        document.querySelectorAll('.custom-card').forEach(function (dergiKarti) {
            dergiKarti.style.display = 'none';
        });

        // Seçilen kategoriye ait kartları göster
        document.querySelectorAll('.' + kategori).forEach(function (dergiKarti) {
            dergiKarti.style.display = 'block';
        });
    }

    // Kategori seçildiğinde filtreleme yap
    document.querySelectorAll('.filter-li').forEach(function (kategoriItem) {
        kategoriItem.addEventListener('click', function () {
            // Seçilen kategori adını al
            var secilenKategori = kategoriItem.getAttribute('data-kategori');

            // Filtreleme fonksiyonunu çağır
            filtrele(secilenKategori);
        });
    });
</script>

<%- include('./partials/footer.ejs') %>
