<%- include('./partials/header.ejs') %>
<%- include('./partials/loader.ejs') %>

<div class="custom-container">
    <div class="announcement-panel">
        <h2 class="announcement-title"><%= announcement.title %></h2>
        <p class="announcement-description"><%= announcement.description %></p>
    </div>
    <!-- Kategori Filtreleme Butonu -->
    <div class="custom-row card-panel">
        <h2>Yeni Çıkan Dergilerimiz</h2>
        <ul class="kategori">
            <li><span id="kategori-toggle" class="filter-system-s"><i class="fa-solid fa-arrow-down-wide-short"></i></i>Filtrele</span>
                <ul class="filter-categorys">
                    <li data-kategori="tumu"class="filter-li">Tümünü göster</li>
                    <% kategoriler.forEach(kategori=>{%>
                    <li data-kategori="<%= kategori.kategori_low%>"class="filter-li"><%= kategori.kategori_ad%></li>
                    <% }); %>
                </ul>
            </li>
            </ul>
        <div class="custom-card-container">
        <% dergiler.forEach(dergi => { %>
            <a class="custom-card <%= dergi.kategorisi %> tumu" href="/dergiler/<%= dergi.dergi_id %>">
                <div class="">
                    <img src="./uploads/<%= dergi.resim %>" alt="<%= dergi.baslik %>">
                    <span class="<%= dergi.kategorisi %>"></span>
                    <div class="custom-card-content">
                        <h5 class="custom-card-title"><%= dergi.dergi_basligi %></h5>
                        <p class="custom-card-text"><%= dergi.aciklama.substring(0, 80) %>...</p>
                    </div>
                </div>
            </a>
                <% }); %>
            </div>
    </div>
</div>

<script>
    document.getElementById('kategori-toggle').addEventListener('click', function () {
        // Kategorilerin görünürlüğünü değiştir
        var kategoriListesi = document.querySelector('.filter-categorys');
        kategoriListesi.classList.toggle('active');
    });

    // Filtreleme fonksiyonu
    document.querySelectorAll('.filter-li').forEach(function (kategoriItem) {
        kategoriItem.addEventListener('click', function () {
            // Seçilen kategori adını al
            var secilenKategori = kategoriItem.getAttribute('data-kategori');

            // Filtreleme fonksiyonunu çağır
            filtrele(secilenKategori);
        });
    });
    function filtrele(kategori) {
        // Tüm kartları gizle
        document.querySelectorAll('.custom-card').forEach(function (dergiKarti) {
            dergiKarti.style.display = 'none';
        });

        // Seçilen kategoriye ait kartları göster
        document.querySelectorAll('.' + kategori).forEach(function (dergiKarti) {
            dergiKarti.style.display = 'block';
        });

        // Kategorilerin görünürlüğünü kapat
        var kategoriListesi = document.querySelector('.filter-categorys');
        kategoriListesi.classList.remove('active');
    }

    // Kategori seçildiğinde filtreleme yap
</script>

<%- include('./partials/footer.ejs') %>
